*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
}
.wraper{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    flex-basis: 45%;

}
.all-images{
    height:80vh;
    display: flex;
}
.small-images{
    display: flex;
    flex-direction: column;
}
.small-images img{
    height: 19vh;
    cursor: pointer;
    opacity: 0.6;
    padding: 20px;
}
.small-images img:hover{
    opacity: 1;
}
.main-images img{
    height: 80%;
    width: 70%;


}
p{
    margin-bottom: 20px;
}

.brand{
    background-color: rgb(30, 255, 0);
    width: fit-content;
    color: rgb(16, 19, 18);
    font-size: 12px;
    padding: 2px 5px;

}
h2{
    font-size: 35px;
    color:black ;
    margin-bottom: 20px;
}

.review{
    background-color: rgb(43, 226, 150);
    display: inline-block;
    color:rgb(0, 0, 0) ;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
}
.review .fa{
    counter-reset:#fff;

}
.price{
    color: rgb(194, 38, 38);
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;

}
.price-box{
    display: flex;
    align-items: center;
    
}
input{
    width:30px;
    border: 1px solid rgb(111, 154, 168);
    font-weight: bold;
    text-align: center;


    
}
button{
    width: 140px;
    color: rgb(245, 238, 238);
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background-color: rgb(212, 158, 77);
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button.fa{
    margin-right: 10px;

}
.buy{
    background-color: rgb(212, 158, 77);
}
 @media (max-width:1200px){
    .wraper{
        flex-direction: column;
        height: auto;
        padding: 5% 0;

    }
    .text{
        padding-top:50px ;

    }
}
@media (max-width:600px){
    .all-images{
        flex-direction: column;
        height: auto;

    }
    .small-images{
        flex-direction: row;
        justify-content:space-evenly ;
        order: 1;



    }
    .product-box{
        width: 100%;

    }
    .main-images img{
        width: 100%;
        padding: 20px;
        margin-left: 25px;
    }
    .small-images img{
        width: 25%;
        flex-direction: row;


    }
    h2{
        font-size: 25px;
    }
 }  
